.post-link {
  @apply transition-shadow;
  box-shadow: inset 0 -0.05em 0 #2c7a7b;
}
.post-link:hover {
  box-shadow: inset 0 -0.5em 0 #2c7a7b;
}
.frame-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 14px 0;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#nprogress .bar {
  background: #2c7a7b !important;
}

#nprogress .spinner {
  display: none;
}

#nprogress .spinner-icon {
  display: none;
}
